<h2>My Heroes</h2>
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>   permet de cliquer sur un héro et montrer ses données-->

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a >
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
            (click)="delete(hero)">x</button>

    <button class="modifier" routerLink="/detail/{{hero.id}}"> O</button>
  </li>
</ul>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    +
  </button>
<br><br>
  <button (click)="goBack()">Retour</button>

</div>
